<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!--
  ~ This work is licensed under a Creative Commons Attribution-NonCommercial 3.0 Unported License:
  ~ http://creativecommons.org/licenses/by-nc/3.0/
  ~ For alternative conditions contact the author.
  ~
  ~ Copyright (c) 2010 "Robin Wenglewski <robin@wenglewski.de>"
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <logger name="com.freshbourne">
        <level value="debug"/>
    </logger>
</log4j:configuration>
